*.swp
*.swo
*.pyc
*.egg-info
*.ipynb_checkpoints
__pycache__
.coverage
htmlcov
.mypy_cache
.dmypy.json
.hypothesis
.envrc
.lvimrc
.DS_Store
.envrc
.vite
build
out_data/*
*/outputs/*
*outputs/*
*/output_data/*
*.png
*.jpg
*.h5
*.txt
data/brio_info
data/robot_init_obs
data/sample_traj
data/zed
data/ZED2.STL
data/zed_to_world.tf
output_data
data/yumi_new/*
*.usd
*.pyc
data/corl_data
*.png

visualization_output/*
test/*